body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

form {
    text-align: center;
}


#result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
    text-align: center; /* Add this line to center the text */
  }
  
  img {
    height: 350px;
    margin: 0 auto; /* Add this line to center the image */
  }